@model kipasCalisanlar.Models.Elemanlar

@{
    ViewData["Title"] = "Home Page";
}

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Title</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Birthdate</th>
            <th>Position</th>
            <th>Hiredate</th>
            <th>State</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.calisanListe as List<Elemanlar>)
        {
            <tr>
                <td><span style="color:black;">@item.Title</span></td>
                <td><span style="color:black;">@item.Firstname</span></td>
                <td><span style="color:black;">@item.Lastname</span></td>
                <td><span style="color:black;">@item.Birthdate.ToString("yyyy-MM-dd")</span></td>
                <td><span style="color:black;">@item.Position</span></td>
                <td><span style="color:black;">@item.Hiredate.ToString("yyyy-MM-dd")</span></td>
                <td><span style="color:black;">@item.State</span></td>
                <td>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editModal_@item.Id">
                        Edit
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>


@foreach (var item in ViewBag.calisanListe as List<Elemanlar>)
{
    <div class="modal fade" id="editModal_@item.Id" tabindex="-1" role="dialog" aria-labelledby="editModalLabel_@item.Id" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel_@item.Id">Edit Person</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form asp-action="Kisi_Guncelle" method="post">
                        <input type="hidden" name="Id" value="@item.Id" />

                        <div class="form-group">
                            <label for="Title">Title:</label>
                            <input class="form-control" name="Title" value="@item.Title" />
                        </div>

                        <div class="form-group">
                            <label for="Firstname">Firstname:</label>
                            <input class="form-control" name="Firstname" value="@item.Firstname" />
                        </div>

                        <div class="form-group">
                            <label for="Lastname">Lastname:</label>
                            <input class="form-control" name="Lastname" value="@item.Lastname" />
                        </div>

                        <div class="form-group">
                            <label for="Birthdate">Birthdate:</label>
                            <input type="date" class="form-control" name="Birthdate" value="@item.Birthdate.ToString("yyyy-MM-dd")" />
                        </div>

                        <div class="form-group">
                            <label for="Position">Position:</label>
                            <input class="form-control" name="Position" value="@item.Position" />
                        </div>

                        <div class="form-group">
                            <label for="Hiredate">Hiredate:</label>
                            <input type="date" class="form-control" name="Hiredate" value="@item.Hiredate.ToString("yyyy-MM-dd")" />
                        </div>


                        <div class="form-group">
                            <label for="Notes">Notes:</label>
                            <textarea class="form-control" name="Notes" rows="3">@item.Notes</textarea>
                        </div>

                        <h5 class="modal-title" id="editModalLabel_@item.Id">Home Address</h5>
                         <div class="form-group">
                            <label for="State">State:</label>
                            <input class="form-control" name="State" value="@item.State" />
                        </div>

                        <div class="form-group">
                            <label for="Adress">Adress:</label>
                            <textarea class="form-control" name="Adress" rows="3">@item.Adress</textarea>
                        </div>

                        <button class="btn btn-info" type="submit">Edit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
}





